@model WebApplication.Models.StatusVM

@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_DeliveryManLayout.cshtml";
}


<h1>Commandes</h1>

<dl class="row">
    <dt class="col">Statut de travail : </dt>
    <dt class="col">
        @switch (Model.deliveryStatut)
        {

            case 0:
                {
                    <a class="btn btn-primary" asp-action="Active">Non-actif</a>
                    break;
                }
            case 1:
                {
                    <a class="btn btn-primary" asp-action="Desactive">Actif</a>
                    break;
                }
        }
    </dt>
    <dt class="col"></dt>
    <dt class="col"></dt>
    <dt class="col"></dt>
</dl>

<dl class="row">
    <dt class="col">N° commande</dt>
    <dt class="col">Date Commande</dt>
    <dt class="col">Horaire livraison</dt>
    <dt class="col">Satut</dt>
    <dt class="col"></dt>
</dl>


@if (Model.orders != null)
{

    @for (int i = 0; i < Model.orders.Count; i++)
    {
        @if (Model.status[i] == 1 || Model.status[i] == 2)
        {
            <div>
                <dl class="row">
                    <dt class="col">
                        @Html.DisplayFor(model => model.orders[i].ID_Order)
                    </dt>
                    <dt class="col">
                        @Html.DisplayFor(model => model.orders[i].OrderDate)
                    </dt>
                    <dt class="col">
                        @Html.DisplayFor(model => model.orders[i].DelaiLivraison)
                    </dt>
                    <dt class="col">
                        @switch (Model.status[i])
                        {

                            case 1:
                                {
                                    <label>En cours de traitement</label>
                                    break;
                                }
                            case 2:
                                {
                                    <label>En cours de livraison</label>
                                    break;
                                }
                        }

                    </dt>
                    <dt class="col">
                        @Html.ActionLink("voir détails", "Detail", "DeliveryMan", new { id = Model.orders[i].ID_Order }, null)
                    </dt>
                </dl>
            </div>
        }

    }
    @for (int i = 0; i < Model.orders.Count; i++)
    {
        @if (Model.status[i] == 0 || Model.status[i] == 3)
        {
            <div>
                <dl class="row">
                    <dt class="col">
                        @Html.DisplayFor(model => model.orders[i].ID_Order)
                    </dt>
                    <dt class="col">
                        @Html.DisplayFor(model => model.orders[i].OrderDate)
                    </dt>
                    <dt class="col">
                        @Html.DisplayFor(model => model.orders[i].DelaiLivraison)
                    </dt>
                    <dt class="col">
                        @switch (Model.status[i])
                        {
                            case 0:
                                {
                                    <label>Annuler</label>
                                    break;
                                }
                            case 3:
                                {
                                    <label>Livré</label>
                                    break;
                                }

                        }

                    </dt>
                    <dt class="col">

                    </dt>
                </dl>
            </div>
        }
    }

}
else
{
    <h5>Vous n'avez pas de commandes</h5>
}




