@model DTO.Dishes

@{
    ViewData["Title"] = Model.DishesName;
}

<h1></h1>

<div>
    <h4>@Html.DisplayFor(model => model.DishesName) </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishesDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DishesDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishesPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DishesPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishImage)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/Dishes/@Html.DisplayFor(model => model.DishImage)" alt="@Html.DisplayFor(model => model.DishesName)" width="400" height="400" />
        </dd>
    </dl>
</div>
<div>
  
    @Html.ActionLink("Ajouter au panier", "Choice", "Home", new { id = Model.ID_Dishes }, null)
</div>
