@model DTO.Dishes

@{
    ViewData["Title"] = "View";
}

<h1></h1>

<div>
    <h4>Dish </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Dishes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID_Dishes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishesName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DishesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishesDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DishesDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishesPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DishesPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DishImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isDishAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isDishAvailable)
        </dd>
    </dl>
</div>
<div>
    <form method="post">
        <input name="IdOrder" value=@Html.DisplayFor(modelItem => item.IdOrder) />
        <input type="submit" value="CANCELLED" />
    </form>
</div>
