@model IEnumerable<RestaurantDishesVM>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <h1>Welcome</h1>

    @foreach (var item in Model)
    {
        <div>
            <h2 style="color:limegreen">
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </h2>
            <p>
                <b>Addresse : </b>@Html.DisplayFor(modelItem => item.RestaurantAddress)
            </p>
            @for (int i = 0; i < item.DishesName.Count; i++)
            {

            <p>
                <img src="~/Images/Dishes/@Html.DisplayFor(modelItem => item.DishImage[i])" alt="@Html.DisplayFor(modelItem => item.DishesName[i])" width="400" height="400" />
            </p>
            <p>
                @Html.ActionLink(item.DishesName[i], "Dishes", "Home", new { id = item.DishesId[i] }, null)
            </p>
            <p>
                <b>Prix: </b>@Html.DisplayFor(modelItem => item.DishesPrice[i]).00 CHF
            </p>
            <br />
            }
        </div>

    }
</body>
</html>
