@model IEnumerable<RestaurantDishesVM>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <h1>Bienvenu sur VS Eat</h1>

    @foreach (var item in Model)
    {
        <div>
            <h3>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </h3>
            <p>
                <b>Addresse : </b>@Html.DisplayFor(modelItem => item.RestaurantAddress)
            </p>
            @{ 
                var nbDishes = item.DishesName.Count;
                //pour savoir le nombre de lignes il y aura
                var nbLignes = (nbDishes % 4) + 1;
                var rest = nbDishes;
            }



            @for (int i = 0; i < nbLignes; i++)
            {
                <dl class="row">
                    @for (int j = i * 4; j < i * 4 + 4; j++)
                    {
                    <dt class="col">

                        @if (rest > 0)
                        {

                            <p>
                                <img src="~/Images/Dishes/@Html.DisplayFor(modelItem => item.DishImage[j])" alt="@Html.DisplayFor(modelItem => item.DishesName[j])" width="400" height="400" />
                            </p>
                            <p>
                                @Html.ActionLink(item.DishesName[j], "Dishes", "Home", new { id = item.DishesId[j] }, null)
                            </p>
                            <p>
                                <b>Prix: </b>@Html.DisplayFor(modelItem => item.DishesPrice[j]).00 CHF
                            </p>
                        }
                        @{
                            rest--;
                        }
                    </dt>
                    }
                </dl>

            
            <br />
            }
        </div>

    }
</body>
</html>
