@model IEnumerable<DTO.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRestaurantAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_restaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRestaurantAvailable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
